


.container{
 
    border: solid,1px, rgb(58, 62, 65,0.2);
    width: 54.5vh;
    height: 63vh;
    padding-top: 3.3vh;
    
}

.container img{
    width: 27.5vh;
    height: 16.1vh;
    margin-left: 13vh;
 
    
}

input{
    width: 75%;
    height:30px;
    margin: 6px;
    margin-left: 6.5vh;
  border: 1px solid rgb(167, 155, 155,0.5);
  margin-top: 6px;
}
input::placeholder{
   opacity: 1;
   font-size: 11.5px;
   padding: 11px;
 
  
}
.line-container {
    position: relative;
    text-align: center;
    width: 80%;
   color:rgb(167, 155, 155);
   margin-top: 18px;
  
}
  
.line {
    border-top: 1px solid rgb(167, 155, 155,0.5);
    width: 125%;
    position: absolute;
    top: 50%;
    }
    .text{
        background-color: white;
        position: relative;
        display:inline-flex;
        color:rgb(167, 155, 155) ;
        margin-left: 70px;
        font-size: small;
        font-weight: 500;
        
    }
    
    p,p1{
        color:rgb(9, 24, 92);
        font-size:14px;
        font-synthesis-weight: 100px;
        margin: 0px 0px 0px 8px;
    }
    p2{
        font-size:12px;
        margin: 18.5px 0px 0px 34px;
       
        
    } 
   
    
    p1,p2{
       
        cursor: pointer;
      
        font-family: sans-serif;
    }
    .icon{
        color:rgb(2, 86, 134); 
        height: 20px;
       
         
    }
   
     /* ----------------------------------------------------------------------------------------------------------------------------------------------------------  */
    .footer{
        border: solid,1px, rgb(58, 62, 65,0.2);
        width: 54.5vh;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    }
   .footer a{
        text-decoration: none;
        font-size: 15px;
        color: rgb(66, 173, 235);
        font-weight: 500;
        font-family: sans-serif;
    }
   
    P{
        font-family: sans-serif;
    }
    .bottumicon{
        width: 53.5vh;
        height:11vh;
      
        display: flex;
        justify-content: center;
        gap: 13px;

    }
    .bottum1 img{
        width: 132px;
        height: 40px;
        border-radius: 6px;
    }
    .bottum img{
        width: 110px;
        height: 38px;
    }
    button{
        width: 76%;
        height:31px;
        background-color: rgb(55, 142, 209);
        color: white;
        border-radius: 7px;
        border: none;
        margin: 5px;
        margin-left: 6.5vh;
        cursor: pointer;
        margin-top: 10px;
        
        
    }
      /* ------------------------------------------------------------------------------------------------------------   */
    .containers{
 
        border: solid,1px, rgb(58, 62, 65,0.2);
        width: 53.9vh;
        height: 91.5vh;
        padding-top: 3vh;
        padding-left: 1px;
      
    }
    .containers img{
        width: 27.5vh;
        height: 16.5vh;
        margin-left: 13vh;
     
        
    }
    h4{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 53px;
       font-weight: 600;
        margin-top: -17.5px;
        color:rgba(59, 64, 68, 0.8) ;
    }
   
    .lines {
        border-top: 1px solid rgb(167, 155, 155,0.5);
        width: 110%;
        position: absolute;
        top: 50%;
        margin-top: 8px;
        
        }

    .texts{
        background-color: white;
        position: relative;
        display:inline-flex;
        color:rgb(167, 155, 155) ;
        margin-left: 70px;
        font-size: small;
        font-weight: 500;
        margin-top: 15px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    .loginwf{
        margin-left: 40px;
        margin-top: 4px;
        width: 268px;
        height: 35px;
        font-weight: 700;
       color: white;
    }
 #icons{
        color: rgb(255, 255, 255);
        height: 18px;
        
       }
       #button{
        margin-bottom: -5px;
       }
       .datain{
        text-align: center;
       margin-top:  16px;
       }
       .datain input{
           width: 262px;
           height: 30px;
           border-radius: 2px;
           margin: 5px;
             

       }
       .datain input::placeholder{
        font-size:12px;
        padding: 7px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       }
       .line-containers {
        position: relative;
        text-align: center;
        width: 80%;
       color:rgb(167, 155, 155);
   
       }
       .oapl{
        margin-left: -12px;
       }
.pl{
    font-size: 12px;
    margin-left: 56px;
  margin-top: 8px;
  color:rgb(141, 133, 133) ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.plsn{
    font-size: 12px;
    margin-left: 61px;
  margin-top: 16px;
  color:rgb(141, 133, 133) ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pln{
    font-size: 12px;
    margin-left: 49px;
    color:rgb(141, 133, 133) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.plnn{
    font-size: 12px;
    margin-left: 115px;
    color:rgb(141, 133, 133) ;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.singupl{
    margin-left: 40px;
   margin-top: 15px;
    width: 266.5px;
    height: 33px;
    font-weight: 700;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






.footers{
    border: solid,1px, rgb(58, 62, 65,0.2);
    width: 54.2vh;
height: 11vh;
display: grid;
margin-top: 10px;
justify-content: center;
align-items: center;
}
.footers p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.footers a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(66, 173, 235);
    font-weight: 500;
}
 
/* --------------------------------laptop view------------------------------------------------------------------------------------------------------------ */ 
@media (min-width: 768px) {
    .userlogins{
        margin-top: 2vh;
        margin-left: 78.1vh;
       
    }
    d {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        font-family: sans-serif;
      margin: 17px 76vh 17px 0px;
   
    }
     
.userlogin{
    margin-top: 2vh;
    margin-left:78vh;
}
.bottom{
    margin: 27px 3px 10px 90px ;
    display: grid;
    width: 54.5vh;
   
}


}
/* -----------------------------------------------------mobile view-------------------------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
    .userlogins {
        position: absolute;
        top: 10px; /* Start 10px from the top */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust horizontal alignment */
    }
      d{
       font-size: small;
       margin-left: 23vh;
      
    }
    
     
.userlogin{
position: absolute;
        top: 10px; /* Start 10px from the top */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Adjust horizontal alignment */
}
.bottom{
    margin: 27px 30px 30px 90px ;
    display: grid;
    width: 54.5vh;

   
}
.container{
    
 height: 68vh;
}
.loginwf{
    width: 80%;
}
.singupl{
    width: 80%;
    margin: 10%;
   
}
.footers{
    margin-top: 20%;
    margin-bottom: 10%;
  
}


}
